/* *{
  background-color: red;

} */
body{
  margin: 0;
}

.caja{
  border: 2px solid red;
  height: 50px;
  margin: 50px;
}
.caja2{
  border: 2px solid red;
  margin: 50px;
  padding: 100px,0 50px 10px;
}
